*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
body{
   height: 100vh;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    /* width: 100%; */
    background-color: transparent;
}
.nav-logo{
    border: 2px solid black;
    padding: 0.25rem 0.85rem 0.25rem 0.85rem;
}
/* .bgColor{
    transition: 0.5s ease all;
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 4px rgba(185, 184, 184, 0.412);
} */
.btn_one i{
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    margin-top: -2rem;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color:#fff;
    color: black;
    transition: all 0.3s linear;
    margin-top: -2.2rem;
}
a{
    text-decoration: none;
    color: #fff;
    color: black;
}
.sidebar_menu .menu{
    position: absolute;
    width: 300px;
    top: 150px;
    text-align: center;
    z-index: -10;
}
.sidebar_menu .btn_two i{
    color: black;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    cursor: pointer;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu li i, a{
    font-size: 1.2rem;
}
.sidebar_menu .menu li  a{
    font-family: 'Open Sans', sans-serif;
}
.sidebar_menu .menu li i{
    padding-right: 14px;
}
.sidebar_menu .social_media{
    
    position: absolute;
    left: 70px;
    bottom: 60px;
}
.sidebar_menu .social_media i{
    opacity: 0.7;
    padding: 0px 5px;
    font-size: 1.2rem;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    /* border: 1px solid #fff; */
    box-shadow: 0 0 6px rgba(225, 225, 225, 0.5);
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
.container{
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("bg-image.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* .bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("bg-image.JPG");
    min-height: 100vh;
    width: 100%;
    position: fixed;
    background-size: cover;
   
} */
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}
.text{
    height: 219px;
    width: 949px;
    /* background-color: blue; */
    margin-top: 15rem;
    line-height: 2;
}
.text h2{
    font-size: 4rem;
    color: #fff;
    
}
.btn{
    padding: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 5px;
}
.btn:hover{
    color: black;
    background-color: #fff;
    cursor: pointer;
}
.section-container{
    height: 1303px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bgColor{
    background-color: #fff;
}
.text-container{
    height: 160px;
    width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}
.margin-top{
    margin-top: -65rem;
}
.text-container h2{
    font-size: 2.4rem;
    font-weight: 300;
}
.text-container .para{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
    font-weight: 300;
}
.containers{
    /* border: 4px solid black; */
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: -60rem;
}
.boxes{
    height: 392px;
    width: 379px;
    background-color: #fff;
    text-align: center;    
}
.boxes-text{
    padding: 2rem;
}
.boxes-text .boxes-para-head{
    letter-spacing: 2px;
    color: #e66346;
}
.boxes-text h3{
    margin-top: 1rem;
    font-weight: 400;
}
.boxes-text .boxes-para{
    margin-top: 3rem;
    font-size: 1.3rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
    font-weight: 200;
}
.boxes-text .boxes-btn{
    margin-top: 3.5rem;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    border: none;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
}
.img{
    height: 100%;
    clip-path: inset(0px 188px 0px 0px );
    z-index: 100;
}
.img3{
    height: 100%;
    clip-path: inset(0px 143px 0px 0px );
}
.container2{
    /* border: 4px solid black; */
    display: flex;
    justify-content:center ;
    align-items: center;
}
.about-section{
    margin-top: 14rem;
    height: 504px;
    width: 1380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section-alignCenter{
    height: 348px;
    width: 1140px;
    /* background-color: #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-box{
    padding: 1rem;
    margin: 0.85rem;
}
.section-box h1{
    font-size: 3rem;
}
.section-box p{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    color: #9b9b9b;
    margin-top: 1.3rem;
    font-weight: 300;
}
.images-container{
    height: 425px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    height: 300px;
    width: 320px;
    margin-left: 1rem;
}
.img4{
    width: 100%;
}
.info-containers{
    /* background-color: #9d8282; */
    height: 800px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-boxes{
    height: 700px;
    width: 550px;
    /* background-color: #e66346; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.info{
    margin-top: -2rem;
}
.chef-img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.info-boxes p{
    margin-top: 1rem;
    padding: 0.85rem;
    color: #727272;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.8;
}
.info-boxes h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #9b9b9b;
    margin-top: 0.85rem;
    letter-spacing: 2px;
}
.info-boxes h1{
    margin-top: 0.85rem;
}
.icons-container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 1.9rem;
}
.icons{
    margin-left: 1.2rem;
    font-size: 1.3rem;
    color: #e97c63;
}
.columns-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rows-container{
    width: 640px;
    height: 160px;
    /* background-color: aquamarine; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c9bebe;
}
.height a{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: #727272;
}
.height{
    height: 90px;
}
.row-img{
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
}
.colums{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
.row-text{
    display:flex ;
    flex-direction: column;
    margin-left: 1.5rem;
}
.row-text a{
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.row-text p{
    font-family: 'Open Sans', sans-serif;
    margin-top: -1rem;
    font-size: 1.1rem;
    color: #727272;
    font-weight: 300;
}
.price{
    width: 120px;
    font-size: 1.5rem;
    margin-top: -5rem;
    color: #e66346;
}
.margin{
    margin: 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 352px;
    width: 359px;
}
.chnageHeight{
    height: 500px;
}
.center{
    text-align: center;
    margin-top: 2rem;
}
.customer-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.pArA{
    font-family: 'Open Sans', sans-serif;
    color: #b7b7b7;
    margin-top: -0.45rem;
}
.customerName{
    font-size: 1.3rem;
}
.footer-section{
    height: 460px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-boxes{
    height: 299px;
    width: 300px;
    margin: 2rem;
    /* background-color: aqua; */
}
.footer-boxes h2{
    margin-top: 1rem;
    color: #fff;
}
.footer-boxes p{
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;
}
.BTN{
    margin-top: 1.6rem;
    padding: 0.75rem;
    letter-spacing: 1.2px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: #e66346;
    outline: none;
    border: 2px solid #e66346;
    background-color: transparent;
    font-weight: 600;
}
.Icons{
    margin-top: 2rem;
}
.white{
    color: #fff;
}
input{
    width:320px;
    margin-top: 1rem;
    padding: 0.35rem;
    font-size: 1rem;
}
.rights{
    position: absolute;
    bottom: -408rem;
}
.rights p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}